.nav {
    display: grid;
    background-image: url(../assets/images/background-1.png);
    width: 100vw;
}

.logo, .header-menu, .hashtag, .name, .one, .small-text, .time, .under-text {
    color: #FFFFFF;
}

.logo, .scroll, .yellow {
    text-transform: uppercase;
}

.logo, .scroll, .name, .small-text, .big-text, .form, .book-now, .opening-hours, .yellow-text, .yellow {
    font-family: 'Cormorant Upright';
    font-weight: 700;
    letter-spacing: 0.04em;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: grid;
    grid-template-columns: 1.4fr 0.3fr 1.5fr;
    align-items: center;
    justify-content: space-between;
}

.header-menu, .hashtag, .where, .time, .under-text {
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 0.04em;
}

.welcome {
    display: grid;
    background-image: url(../assets/images/background-1.png);
    width: 100vw;
    grid-template-rows: repeat(5, 1fr);
}

.welcome-column-1 {
    display: grid;
    align-content: space-around;
    justify-content: start;
    height: 145px;
}

.hashtag {
    font-size: 12px;
    transform: rotate(-90deg);
    margin: 0px 0px 0px 15px;
}

.gericht {
    margin: 40px 0px 0px 15px;
}

.welcome-column-2 {
    display: grid;
    justify-content: center;
}

.welcome-img {
    width: 100%;
    max-width: 100%;
    border: 1px solid #DCCA87;
}

.scroll {
    font-size: 14px;
    color: #DCCA87;
    text-align: center;
}

.welcome-column-3 {
    display: grid;
    align-content: end;
    justify-content: end;
}

.slider {
    margin: 0px 40px 190px 0px;
}

.one, .line3, .numbers {
    transform: rotate(90deg);
}

.one, .numbers {
    font-size: 12px;
}

.line3 {
    border: 1px solid #DCCA87;
    width: 10px;
    height: 0px;
}

.numbers, .yellow-text {
    color: #F5EFDB;
}

.booking {
    display: grid;
    background-color: black;
    max-width: 100vw;
    height: 500px;
    justify-content: center;
    align-content: center;
}

.inner_box, .inner-subscribe {
    display: grid;
    background-color: #0C0C0C;
    border: 1px solid rgba(220, 202, 135, 0.2);
    height: 300px;
    justify-items: center;
}

.small-text {
    font-size: 18px;
}

.yellow-spoon {
    margin: -45px 0px 0px 0px;
}

.big-text {
    color: #DCCA87;
}

.first {
    margin: -50px 0px 0px 0px;
}

.dialog-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    width: 90%;
}

.form {
    box-sizing: border-box;
    background-color: #0C0C0C;
    border: 1px solid #F5EFDB;
    color: #AAAAAA;
    height: 40px;
    padding: 0px 0px 0px 10px;
}

.button {
    background-color: #DCCA87;
    width: 110px;
    height: 35px;
    font-size: 13px;
}

.find-us {
    display: grid;
    width: 100vw;
    background-image: url(../assets/images/background-1.png);
}

.grey-text {
    color: #AAAAAA;
    font-size: 14px;
}

.opening-hours {
    color: #DCCA87;
    font-size: 19px;
}

.time {
    font-size: 12px;
}

.visit-us {
    margin: 30px 0px 0px 0px;
}

.img-container-1 {
    width: 80%;
    max-width: 80%;
}

.find-us-image {
    max-width: 100%;
    z-index: 1;
    height: 70%;
    width: 100%;
}

.between {
    width: 100vw;
    height: 10vh;
    background-color: black;
}

.svg-text-between {
    position: absolute;
    margin: 20px 0px 0px 1250px;
}

.svg-spoons-between {
    position: absolute;
    margin: 50px 0px 0px 1279px;
}

.footer {
    width: 100vw;
    background-image: url(../assets/images/background-1.png);
}

.subscribe {
    display: grid;
    justify-content: center;
}

.yellow-spoon-3 {
    margin-top: -30px;
}

.subscribe-big {
    margin-top: -20px;
}

.under-text {
    margin-top: -30px;
}

.input-box {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 35px;
}

.subscribe-form {
    grid-column: 2/3;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.contacts {
    grid-template-rows: 55px 30px 20px 20px;
}

.contacts .grey-text, .yellow-text {
    font-style: normal;
}

.yellow-text {
    font-size: 25px;
}

.yellow {
    color: #DCCA87;
    font-size: 45px;
}

.middle-part .under-text {
    margin-top: -20px;
    text-align: center;
}

.middle-part, .contacts, .working-hours {
    display: grid;
    justify-items: center;
}

.middle-part .yellow-spoon {
    margin-top: 7px;
}

.socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80px;
    gap: 10px;
    margin-top: 17px;
}

.middle-part .grey-text {
    margin-top: 70px;
}

.smaller-section {
    display: grid;
    justify-items: center;
    grid-template-rows: 55px 20px 25px 20px 20px;
}

@media screen and (min-width: 1024px) {
    .welcome {
        height: calc(100vh - 60px);
    }
    .name {
        position: absolute;
        top: 170px;
        right: 330px;
        font-size: 121px;
    }
    .line2 {
        margin: -40px 0px 0px 230px;
    }
    .inner_box, .inner-subscribe {
        width: 1100px;
    }
    .svg-text {
        margin: -130px 0px 0px 1030px;
    }
    .svg-spoons {
        margin: -100px 0px 0px 1057px;
    }
    .svg-text-between {
        position: absolute;
        margin: 20px 0px 0px 1250px;
    }
    .svg-spoons-between {
        position: absolute;
        margin: 50px 0px 0px 1279px;
    }
    .find-us {
        height: 100vh;
    }
    .footer {
        height: 100vh;
    }
    .footer-info {
        height: 63%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .welcome {
        height: 50vh;
    }
    .name {
        position: absolute;
        top: 100px;
        right: 165px;
        font-size: 11vw;
    }
    .line2 {
        margin: -50px 0px 0px 170px;
    }
    .inner_box, .inner-subscribe {
        width: 90%;
    }
    .svg-text {
        display: none;
    }
    .svg-spoons {
        display: none;
    }
    .svg-text-between {
        display: none;
    }
    .svg-spoons-between {
        display: none;
    }
    .footer {
        height: 62vh;
    }
    .footer-info {
        height: 32vh;
    }
}

@media not screen and (max-width: 767px) {
    .nav {
        height: 60px;
        grid-template-columns: 1fr 1fr 0.5fr;
        align-content: center;
        justify-content: space-between;
    }
    .logo {
        font-size: 24px;
        margin: 5px 0px 0px 40px;
    }
    .header-list {
        width: 290px;
    }
    .header-menu, .under-text {
        font-size: 12px;
    }
    .welcome {
        grid-template-columns: repeat(3, 1fr);
    }
    .img-container {
        width: 50%;
        margin: 0px 0px 0px 110px;
    }
    .welcome-img {
        height: 75%;
    }
    .find-us {
        grid-template-columns: 1fr 1fr;
    }
    .find-us-column-1 {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .find-us-column-2 {
        display: grid;
        align-items: center;
    }
    .big-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        height: 15vh;
        justify-content: center;
    }
    .logo {
        font-size: 3vh;
        justify-self: center;
        margin-top: 5px;
    }
    .header-menu {
        font-size: 2vh;
    }
    .header-right {
        display: grid;
        justify-items: center;
    }
    .welcome {
        height: 60vh;
        align-content: center;
        justify-items: center;
    }
    .hashtag {
        display: none;
    }
    .welcome-img {
        margin-left: 20px;
        width: 60vw;
    }
    .name {
        font-size: 7vh;
        margin: 10px 0px 140px 0px;
    }
    .slider {
        display: none;
    }
    .scroll {
        display: none;
    }
    .line2 {
        display: none;
    }
    .svg-text {
        display: none;
    }
    .svg-spoons {
        display: none;
    }
    .find-us {
        justify-content: center;
    }
    .big-text {
        font-size: 4vh;
    }
    .inner-subscribe {
        width: 100%;
    }
    .subscribe-form {
        width: 100%;
    }
    .svg-text-between {
        display: none;
    }
    .svg-spoons-between {
        display: none;
    }
    .img-container-1 {
        display: none;
    }
    .footer-info {
        display: none;
    }
}
